get-workflow.json
{"updatedAt":"2025-12-30T18:50:55.940Z","createdAt":"2025-12-30T17:54:54.885Z","id":"5AUhPSCig8wWXhdQ","name":"Calendar - Get Available Slots","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"calendar-get-slots","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"a1b2c3d4-1111-2222-3333-444455556666","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"calendar-get-slots-001"},{"parameters":{"jsCode":"// Get date from query and prepare for Google Calendar query\nconst date = $input.item.json.query.date;\n\nif (!date) {\n  return [{ json: { error: 'Missing date parameter', availableSlots: [], skipCalendar: true } }];\n}\n\nconst dateObj = new Date(date + 'T00:00:00');\nconst dayOfWeek = dateObj.getDay();\n\n// No slots on weekends (Saturday = 6, Sunday = 0)\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{ json: { availableSlots: [], skipCalendar: true } }];\n}\n\n// CST is UTC-6\n// Create start and end times for the business day in CST\nconst startTime = date + 'T09:00:00-06:00';\nconst endTime = date + 'T17:00:00-06:00';\n\nreturn [{ \n  json: { \n    date: date,\n    timeMin: startTime,\n    timeMax: endTime,\n    skipCalendar: false\n  } \n}];"},"id":"b2c3d4e5-2222-3333-4444-555566667777","name":"Prepare Date Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"resource":"event","operation":"getAll","calendar":{"__rl":true,"value":"pierce1970@gmail.com","mode":"id"},"returnAll":true,"options":{"timeMax":"={{ $json.timeMax }}","timeMin":"={{ $json.timeMin }}","singleEvents":true}},"id":"d4e5f6a7-gcal-1111-2222-333344445555","name":"Get Calendar Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[650,300],"credentials":{"googleCalendarOAuth2Api":{"id":"gsi1OrnvIFHsn1Ho","name":"Google Calendar account"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"parameters":{"jsCode":"// Get the date from the Prepare Date Query node\nconst dateData = $('Prepare Date Query').first().json;\nconst date = dateData.date;\n\n// Get all calendar events\nconst events = $input.all().map(item => item.json);\n\n// Business hours: 9 AM to 5 PM CST, 30-minute slots\nconst businessStart = 9; // 9 AM\nconst businessEnd = 17; // 5 PM\nconst slotDuration = 30; // minutes\n\n// Get current time in CST (UTC-6)\nconst now = new Date();\nconst cstOffset = -6 * 60; // CST is UTC-6\nconst utcTime = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst cstTime = new Date(utcTime + (cstOffset * 60000));\nconst todayCST = cstTime.toISOString().split('T')[0];\nconst currentHour = cstTime.getHours();\nconst currentMinute = cstTime.getMinutes();\n\n// Check if the requested date is today\nconst isToday = date === todayCST;\n\n// Generate all possible slots\nconst allSlots = [];\nfor (let hour = businessStart; hour < businessEnd; hour++) {\n  allSlots.push(`${hour.toString().padStart(2, '0')}:00`);\n  if (hour < businessEnd - 1 || (hour === businessEnd - 1 && slotDuration === 30)) {\n    allSlots.push(`${hour.toString().padStart(2, '0')}:30`);\n  }\n}\n// Remove 16:30 since a 30-min meeting would end at 5 PM\nconst validSlots = allSlots.filter(slot => slot !== '16:30');\n\n// Filter out past slots (for today) and slots that conflict with events\nconst availableSlots = validSlots.filter(slot => {\n  const [slotHour, slotMin] = slot.split(':').map(Number);\n  \n  // If today, filter out past time slots\n  if (isToday) {\n    if (slotHour < currentHour || (slotHour === currentHour && slotMin <= currentMinute)) {\n      return false; // Slot has passed\n    }\n  }\n  \n  const slotStart = new Date(date + 'T' + slot + ':00-06:00');\n  const slotEnd = new Date(slotStart.getTime() + slotDuration * 60 * 1000);\n  \n  // Check if this slot conflicts with any event\n  for (const event of events) {\n    if (!event.start || !event.end) continue;\n    \n    const eventStart = new Date(event.start.dateTime || event.start.date);\n    const eventEnd = new Date(event.end.dateTime || event.end.date);\n    \n    // Check for overlap: slot overlaps if it starts before event ends AND ends after event starts\n    if (slotStart < eventEnd && slotEnd > eventStart) {\n      return false; // Slot is busy\n    }\n  }\n  return true; // Slot is available\n});\n\nreturn [{ json: { availableSlots: availableSlots } }];"},"id":"e5f6a7b8-filter-2222-3333-444455556666","name":"Filter Available Slots","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"c3d4e5f6-3333-4444-5555-666677778888","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Date Query","type":"main","index":0}]]},"Prepare Date Query":{"main":[[{"node":"Get Calendar Events","type":"main","index":0}]]},"Get Calendar Events":{"main":[[{"node":"Filter Available Slots","type":"main","index":0}]]},"Filter Available Slots":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"153f5ba4-4ede-49bc-9065-b08d350466e3","activeVersionId":"153f5ba4-4ede-49bc-9065-b08d350466e3","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2025-12-30T17:54:54.889Z","createdAt":"2025-12-30T17:54:54.889Z","role":"workflow:owner","workflowId":"5AUhPSCig8wWXhdQ","projectId":"2E5Y8cdjiUmqUcLV","project":{"updatedAt":"2025-11-08T05:42:26.477Z","createdAt":"2025-10-29T02:08:10.545Z","id":"2E5Y8cdjiUmqUcLV","name":"Matthew Pierce <matthew@metaphysicalevents.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-10-29T02:08:10.545Z","createdAt":"2025-10-29T02:08:10.545Z","userId":"8629d4ee-0885-4d63-9334-03526b316da0","projectId":"2E5Y8cdjiUmqUcLV","user":{"updatedAt":"2025-12-30T17:47:17.000Z","createdAt":"2025-10-29T02:08:09.598Z","id":"8629d4ee-0885-4d63-9334-03526b316da0","email":"matthew@metaphysicalevents.com","firstName":"Matthew","lastName":"Pierce","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-29T02:11:13.369Z","personalization_survey_n8n_version":"1.117.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"CCihd0Cm66W8jkBB","userActivatedAt":1762590492366,"npsSurvey":{"responded":true,"lastShownAt":1763336265732}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-30T18:50:55.941Z","createdAt":"2025-12-30T18:50:55.941Z","versionId":"153f5ba4-4ede-49bc-9065-b08d350466e3","workflowId":"5AUhPSCig8wWXhdQ","nodes":[{"parameters":{"httpMethod":"GET","path":"calendar-get-slots","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"a1b2c3d4-1111-2222-3333-444455556666","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"calendar-get-slots-001"},{"parameters":{"jsCode":"// Get date from query and prepare for Google Calendar query\nconst date = $input.item.json.query.date;\n\nif (!date) {\n  return [{ json: { error: 'Missing date parameter', availableSlots: [], skipCalendar: true } }];\n}\n\nconst dateObj = new Date(date + 'T00:00:00');\nconst dayOfWeek = dateObj.getDay();\n\n// No slots on weekends (Saturday = 6, Sunday = 0)\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{ json: { availableSlots: [], skipCalendar: true } }];\n}\n\n// CST is UTC-6\n// Create start and end times for the business day in CST\nconst startTime = date + 'T09:00:00-06:00';\nconst endTime = date + 'T17:00:00-06:00';\n\nreturn [{ \n  json: { \n    date: date,\n    timeMin: startTime,\n    timeMax: endTime,\n    skipCalendar: false\n  } \n}];"},"id":"b2c3d4e5-2222-3333-4444-555566667777","name":"Prepare Date Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"resource":"event","operation":"getAll","calendar":{"__rl":true,"value":"pierce1970@gmail.com","mode":"id"},"returnAll":true,"options":{"timeMax":"={{ $json.timeMax }}","timeMin":"={{ $json.timeMin }}","singleEvents":true}},"id":"d4e5f6a7-gcal-1111-2222-333344445555","name":"Get Calendar Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[650,300],"credentials":{"googleCalendarOAuth2Api":{"id":"gsi1OrnvIFHsn1Ho","name":"Google Calendar account"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"parameters":{"jsCode":"// Get the date from the Prepare Date Query node\nconst dateData = $('Prepare Date Query').first().json;\nconst date = dateData.date;\n\n// Get all calendar events\nconst events = $input.all().map(item => item.json);\n\n// Business hours: 9 AM to 5 PM CST, 30-minute slots\nconst businessStart = 9; // 9 AM\nconst businessEnd = 17; // 5 PM\nconst slotDuration = 30; // minutes\n\n// Get current time in CST (UTC-6)\nconst now = new Date();\nconst cstOffset = -6 * 60; // CST is UTC-6\nconst utcTime = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst cstTime = new Date(utcTime + (cstOffset * 60000));\nconst todayCST = cstTime.toISOString().split('T')[0];\nconst currentHour = cstTime.getHours();\nconst currentMinute = cstTime.getMinutes();\n\n// Check if the requested date is today\nconst isToday = date === todayCST;\n\n// Generate all possible slots\nconst allSlots = [];\nfor (let hour = businessStart; hour < businessEnd; hour++) {\n  allSlots.push(`${hour.toString().padStart(2, '0')}:00`);\n  if (hour < businessEnd - 1 || (hour === businessEnd - 1 && slotDuration === 30)) {\n    allSlots.push(`${hour.toString().padStart(2, '0')}:30`);\n  }\n}\n// Remove 16:30 since a 30-min meeting would end at 5 PM\nconst validSlots = allSlots.filter(slot => slot !== '16:30');\n\n// Filter out past slots (for today) and slots that conflict with events\nconst availableSlots = validSlots.filter(slot => {\n  const [slotHour, slotMin] = slot.split(':').map(Number);\n  \n  // If today, filter out past time slots\n  if (isToday) {\n    if (slotHour < currentHour || (slotHour === currentHour && slotMin <= currentMinute)) {\n      return false; // Slot has passed\n    }\n  }\n  \n  const slotStart = new Date(date + 'T' + slot + ':00-06:00');\n  const slotEnd = new Date(slotStart.getTime() + slotDuration * 60 * 1000);\n  \n  // Check if this slot conflicts with any event\n  for (const event of events) {\n    if (!event.start || !event.end) continue;\n    \n    const eventStart = new Date(event.start.dateTime || event.start.date);\n    const eventEnd = new Date(event.end.dateTime || event.end.date);\n    \n    // Check for overlap: slot overlaps if it starts before event ends AND ends after event starts\n    if (slotStart < eventEnd && slotEnd > eventStart) {\n      return false; // Slot is busy\n    }\n  }\n  return true; // Slot is available\n});\n\nreturn [{ json: { availableSlots: availableSlots } }];"},"id":"e5f6a7b8-filter-2222-3333-444455556666","name":"Filter Available Slots","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"c3d4e5f6-3333-4444-5555-666677778888","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Date Query","type":"main","index":0}]]},"Prepare Date Query":{"main":[[{"node":"Get Calendar Events","type":"main","index":0}]]},"Get Calendar Events":{"main":[[{"node":"Filter Available Slots","type":"main","index":0}]]},"Filter Available Slots":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Matthew Pierce","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2025-12-30T18:50:56.025Z","id":126,"workflowId":"5AUhPSCig8wWXhdQ","versionId":"153f5ba4-4ede-49bc-9065-b08d350466e3","event":"activated","userId":"8629d4ee-0885-4d63-9334-03526b316da0"}]}}