post-workflow.json
{"updatedAt":"2025-12-30T18:53:06.003Z","createdAt":"2025-12-30T17:55:43.719Z","id":"BMvZ7IJHwXMTOoxk","name":"Calendar - Book Slot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"calendar-book-slot","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"d4e5f6a7-4444-5555-6666-777788889999","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"calendar-book-slot-001"},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\nif (!body.date || !body.time || !body.name || !body.email) {\n  return [{ json: { success: false, error: 'Missing required fields' } }];\n}\n\n// Create start and end times in CST (UTC-6)\nconst startDateTime = body.date + 'T' + body.time + ':00-06:00';\nconst [hours, minutes] = body.time.split(':').map(Number);\nconst endHours = minutes === 30 ? hours + 1 : hours;\nconst endMinutes = minutes === 30 ? '00' : '30';\nconst endTime = endHours.toString().padStart(2, '0') + ':' + endMinutes;\nconst endDateTime = body.date + 'T' + endTime + ':00-06:00';\n\nconst booking = {\n  date: body.date,\n  time: body.time,\n  name: body.name,\n  email: body.email,\n  bookedAt: new Date().toISOString(),\n  startDateTime: startDateTime,\n  endDateTime: endDateTime\n};\n\nreturn [{ json: { success: true, message: 'Booking confirmed', booking: booking } }];"},"id":"e5f6a7b8-5555-6666-7777-888899990000","name":"Process Booking","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"value":"pierce1970@gmail.com","mode":"id"},"start":"={{ $json.booking.startDateTime }}","end":"={{ $json.booking.endDateTime }}","additionalFields":{"summary":"=Meeting with {{ $json.booking.name }}","description":"=Booking from scheduling widget\n\nName: {{ $json.booking.name }}\nEmail: {{ $json.booking.email }}\nBooked at: {{ $json.booking.bookedAt }}"}},"id":"gcal-create-event-1111-2222-333344445555","name":"Create Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[650,300],"credentials":{"googleCalendarOAuth2Api":{"id":"gsi1OrnvIFHsn1Ho","name":"Google Calendar account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-dqP6olAkMzFcjuVjkR1f-OKvxPo07rYNd32iXnKQTE","mode":"list","cachedResultName":"personal-calendar"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"bookings"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('Process Booking').item.json.booking.date }}","Time":"={{ $('Process Booking').item.json.booking.time }}","Name":"={{ $('Process Booking').item.json.booking.name }}","Email":"={{ $('Process Booking').item.json.booking.email }}","BookedAt":"={{ $('Process Booking').item.json.booking.bookedAt }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BookedAt","displayName":"BookedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[850,300],"id":"69ccb7b2-045e-4a5b-af8e-7c0e91fe4235","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5kWJaXVgdEBG0DQv","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $('Process Booking').item.json.booking.email }}","subject":"=Booking Confirmed - {{ $('Process Booking').item.json.booking.date }} at {{ $('Process Booking').item.json.booking.time }} CST","message":"=Hi {{ $('Process Booking').item.json.booking.name }},\n\nYour booking has been confirmed!\n\nDate: {{ $('Process Booking').item.json.booking.date }}\nTime: {{ $('Process Booking').item.json.booking.time }} CST\n\nA calendar invite has been sent to your email.\n\nWe look forward to seeing you.\n\nBest regards","options":{}},"id":"h8i9j0k1-8888-9999-0000-111122223333","name":"Email to Customer","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1050,200],"credentials":{"gmailOAuth2":{"id":"nMkPXstjjqUOvUJe","name":"Gmail account"}}},{"parameters":{"sendTo":"matthew@metaphysicalevents.com","subject":"=New Booking: {{ $('Process Booking').item.json.booking.name }} - {{ $('Process Booking').item.json.booking.date }}","message":"=New booking received!\n\nName: {{ $('Process Booking').item.json.booking.name }}\nEmail: {{ $('Process Booking').item.json.booking.email }}\nDate: {{ $('Process Booking').item.json.booking.date }}\nTime: {{ $('Process Booking').item.json.booking.time }} CST\n\nCalendar event created automatically.\n\nBooked at: {{ $('Process Booking').item.json.booking.bookedAt }}","options":{}},"id":"i9j0k1l2-9999-0000-1111-222233334444","name":"Email to Admin","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1050,400],"credentials":{"gmailOAuth2":{"id":"nMkPXstjjqUOvUJe","name":"Gmail account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: $('Process Booking').item.json.success, message: $('Process Booking').item.json.message, booking: $('Process Booking').item.json.booking }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"f6a7b8c9-6666-7777-8888-999900001111","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,300]}],"connections":{"Webhook":{"main":[[{"node":"Process Booking","type":"main","index":0}]]},"Process Booking":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Email to Customer","type":"main","index":0},{"node":"Email to Admin","type":"main","index":0}]]},"Email to Customer":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Email to Admin":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d62df64-9159-4af0-845e-e1205d4d240b","activeVersionId":"3d62df64-9159-4af0-845e-e1205d4d240b","versionCounter":37,"triggerCount":1,"shared":[{"updatedAt":"2025-12-30T17:55:43.720Z","createdAt":"2025-12-30T17:55:43.720Z","role":"workflow:owner","workflowId":"BMvZ7IJHwXMTOoxk","projectId":"2E5Y8cdjiUmqUcLV","project":{"updatedAt":"2025-11-08T05:42:26.477Z","createdAt":"2025-10-29T02:08:10.545Z","id":"2E5Y8cdjiUmqUcLV","name":"Matthew Pierce <matthew@metaphysicalevents.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-10-29T02:08:10.545Z","createdAt":"2025-10-29T02:08:10.545Z","userId":"8629d4ee-0885-4d63-9334-03526b316da0","projectId":"2E5Y8cdjiUmqUcLV","user":{"updatedAt":"2025-12-30T17:47:17.000Z","createdAt":"2025-10-29T02:08:09.598Z","id":"8629d4ee-0885-4d63-9334-03526b316da0","email":"matthew@metaphysicalevents.com","firstName":"Matthew","lastName":"Pierce","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-29T02:11:13.369Z","personalization_survey_n8n_version":"1.117.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"CCihd0Cm66W8jkBB","userActivatedAt":1762590492366,"npsSurvey":{"responded":true,"lastShownAt":1763336265732}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-30T18:53:06.004Z","createdAt":"2025-12-30T18:53:06.004Z","versionId":"3d62df64-9159-4af0-845e-e1205d4d240b","workflowId":"BMvZ7IJHwXMTOoxk","nodes":[{"parameters":{"httpMethod":"POST","path":"calendar-book-slot","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"d4e5f6a7-4444-5555-6666-777788889999","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"calendar-book-slot-001"},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\nif (!body.date || !body.time || !body.name || !body.email) {\n  return [{ json: { success: false, error: 'Missing required fields' } }];\n}\n\n// Create start and end times in CST (UTC-6)\nconst startDateTime = body.date + 'T' + body.time + ':00-06:00';\nconst [hours, minutes] = body.time.split(':').map(Number);\nconst endHours = minutes === 30 ? hours + 1 : hours;\nconst endMinutes = minutes === 30 ? '00' : '30';\nconst endTime = endHours.toString().padStart(2, '0') + ':' + endMinutes;\nconst endDateTime = body.date + 'T' + endTime + ':00-06:00';\n\nconst booking = {\n  date: body.date,\n  time: body.time,\n  name: body.name,\n  email: body.email,\n  bookedAt: new Date().toISOString(),\n  startDateTime: startDateTime,\n  endDateTime: endDateTime\n};\n\nreturn [{ json: { success: true, message: 'Booking confirmed', booking: booking } }];"},"id":"e5f6a7b8-5555-6666-7777-888899990000","name":"Process Booking","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"value":"pierce1970@gmail.com","mode":"id"},"start":"={{ $json.booking.startDateTime }}","end":"={{ $json.booking.endDateTime }}","additionalFields":{"summary":"=Meeting with {{ $json.booking.name }}","description":"=Booking from scheduling widget\n\nName: {{ $json.booking.name }}\nEmail: {{ $json.booking.email }}\nBooked at: {{ $json.booking.bookedAt }}"}},"id":"gcal-create-event-1111-2222-333344445555","name":"Create Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[650,300],"credentials":{"googleCalendarOAuth2Api":{"id":"gsi1OrnvIFHsn1Ho","name":"Google Calendar account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-dqP6olAkMzFcjuVjkR1f-OKvxPo07rYNd32iXnKQTE","mode":"list","cachedResultName":"personal-calendar"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"bookings"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('Process Booking').item.json.booking.date }}","Time":"={{ $('Process Booking').item.json.booking.time }}","Name":"={{ $('Process Booking').item.json.booking.name }}","Email":"={{ $('Process Booking').item.json.booking.email }}","BookedAt":"={{ $('Process Booking').item.json.booking.bookedAt }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BookedAt","displayName":"BookedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[850,300],"id":"69ccb7b2-045e-4a5b-af8e-7c0e91fe4235","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5kWJaXVgdEBG0DQv","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $('Process Booking').item.json.booking.email }}","subject":"=Booking Confirmed - {{ $('Process Booking').item.json.booking.date }} at {{ $('Process Booking').item.json.booking.time }} CST","message":"=Hi {{ $('Process Booking').item.json.booking.name }},\n\nYour booking has been confirmed!\n\nDate: {{ $('Process Booking').item.json.booking.date }}\nTime: {{ $('Process Booking').item.json.booking.time }} CST\n\nA calendar invite has been sent to your email.\n\nWe look forward to seeing you.\n\nBest regards","options":{}},"id":"h8i9j0k1-8888-9999-0000-111122223333","name":"Email to Customer","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1050,200],"credentials":{"gmailOAuth2":{"id":"nMkPXstjjqUOvUJe","name":"Gmail account"}}},{"parameters":{"sendTo":"matthew@metaphysicalevents.com","subject":"=New Booking: {{ $('Process Booking').item.json.booking.name }} - {{ $('Process Booking').item.json.booking.date }}","message":"=New booking received!\n\nName: {{ $('Process Booking').item.json.booking.name }}\nEmail: {{ $('Process Booking').item.json.booking.email }}\nDate: {{ $('Process Booking').item.json.booking.date }}\nTime: {{ $('Process Booking').item.json.booking.time }} CST\n\nCalendar event created automatically.\n\nBooked at: {{ $('Process Booking').item.json.booking.bookedAt }}","options":{}},"id":"i9j0k1l2-9999-0000-1111-222233334444","name":"Email to Admin","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1050,400],"credentials":{"gmailOAuth2":{"id":"nMkPXstjjqUOvUJe","name":"Gmail account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: $('Process Booking').item.json.success, message: $('Process Booking').item.json.message, booking: $('Process Booking').item.json.booking }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"f6a7b8c9-6666-7777-8888-999900001111","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,300]}],"connections":{"Webhook":{"main":[[{"node":"Process Booking","type":"main","index":0}]]},"Process Booking":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Email to Customer","type":"main","index":0},{"node":"Email to Admin","type":"main","index":0}]]},"Email to Customer":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Email to Admin":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Matthew Pierce","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2025-12-30T18:53:06.121Z","id":127,"workflowId":"BMvZ7IJHwXMTOoxk","versionId":"3d62df64-9159-4af0-845e-e1205d4d240b","event":"activated","userId":"8629d4ee-0885-4d63-9334-03526b316da0"}]}}